.ReviewForm {
    margin-bottom: 16px;
    font-size: 16px;
}

.ReviewForm label {
    display: flex;
    justify-content: space-between;
}

.ReviewForm input[type=range], select, textarea {
    margin: 8px 0;
    width: 100%;
}