.App {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}

.App-main {
  margin-top: 80px;
  padding: 0px 10px;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}