.App {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.fjallaOne {
  font-family: FjallaOne;
}

.raleway_med {
  font-family: Raleway-Medium;
}

.raleway_lgt {
  font-family: Raleway-Light;
}

.nothing {
  font-family: NothingYouCouldDo-Regular;
}

.montserrat {
  font-family: Montserrat-Bold;
}

.montserrat_med {
  font-family: Montserrat-Medium;
}

input, select, textarea {
  font-size: 16px;
}

.App_header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
}

.App_search {
  margin-top: 60px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
}

.App_main {
  margin-top: 100px;
  padding: 0px 10px;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

p {
  word-wrap: break-word;
}

.container {
  background: lightgray;
  padding: 10px;
  margin-bottom: 6px;
}