.LoginForm {
    margin-bottom: 16px;
}

.LoginForm label {
    display: flex;
    justify-content: space-between;
}

.LoginForm input {
    margin: 8px 0;
    height: 30px;
}

.LoginForm input[type=text], input[type=password] {
    width: 100%;
}

.LoginForm_label {
    font-size: 20px;
}

.LoginForm_button {
    margin-top: 10px;
    width: 200px;
    padding: 6px 0px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}