.Header_Private, .Header_Public {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.Header a {
    text-decoration: none;
    font-size: 18px;
    font-variant-caps: small-caps;
    color: black;
}