.CreateBeerForm {
    margin-bottom: 16px;
}

.CreateBeerForm label {
    display: flex;
    justify-content: space-between;
}

.CreateBeerForm input[type=text], input[type=number] {
    margin: 8px 0;
    width: 100%;
}