.UpdateReviewForm {
    margin-bottom: 16px;
}

.UpdateReviewForm label {
    display: flex;
    justify-content: space-between;
}

.UpdateReviewForm input[type=range], select, textarea {
    margin: 8px 0;
    width: 100%;
}